.sidebar h1, .intro h1 { font-family: 'Baloo Bhai', cursive; }

.intro h1 { font-size: 7rem; }

.main h2 { font-size: 4rem; font-family: 'Baloo Bhai', cursive; }

#skills h3 { font-family: 'Lexend Deca', sans-serif; text-transform: uppercase; }

#skills h4 { font-family: 'Roboto', sans-serif; }