$font-baloo: 'Baloo Bahai';
$font-lexend: 'Lexend Deca';
$font-open: 'Open Sans';
$font-roboto: 'Roboto';

// font-family: 'Baloo Bhai', cursive;
// font-family: 'Lexend Deca', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;