/* line 5, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../sass/_base.scss */
.sidebar h1, .intro h1 {
  font-family: 'Baloo Bhai', cursive;
}

/* line 3, ../../sass/_base.scss */
.intro h1 {
  font-size: 7rem;
}

/* line 5, ../../sass/_base.scss */
.main h2 {
  font-size: 4rem;
  font-family: 'Baloo Bhai', cursive;
}

/* line 7, ../../sass/_base.scss */
#skills h3 {
  font-family: 'Lexend Deca', sans-serif;
  text-transform: uppercase;
}

/* line 9, ../../sass/_base.scss */
#skills h4 {
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 768px) {
  /* line 2, ../../sass/layouts/_responsive.scss */
  .intro {
    padding: 60px 0 !important;
  }
  /* line 5, ../../sass/layouts/_responsive.scss */
  .intro a {
    font-size: 2.5rem;
    color: white;
  }

  /* line 8, ../../sass/layouts/_responsive.scss */
  .intro h1 {
    font-size: 4rem !important;
  }

  /* line 9, ../../sass/layouts/_responsive.scss */
  .main h2 {
    font-size: 3rem !important;
    font-family: 'Baloo Bhai', cursive;
  }

  /* line 10, ../../sass/layouts/_responsive.scss */
  #skills h3 {
    font-size: 1.1rem !important;
  }

  /* line 11, ../../sass/layouts/_responsive.scss */
  .skill h4 {
    font-size: 1rem;
  }
}
/* line 1, ../../sass/layouts/_sidebar.scss */
.sidebar {
  background: #3FB58E;
  color: white;
  font-family: "Open Sans";
}
/* line 6, ../../sass/layouts/_sidebar.scss */
.sidebar .sticky-left {
  position: sticky;
  -webkit-position: sticky;
  top: 0;
  left: 0;
}

/* line 1, ../../sass/layouts/_main.scss */
.main {
  background-image: url(../images/aurora.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}

/* line 9, ../../sass/layouts/_main.scss */
.main p {
  font-size: 2rem;
}

/* line 1, ../../sass/modules/_menu.scss */
.nav-item {
  display: inline-block;
}
/* line 3, ../../sass/modules/_menu.scss */
.nav-item a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none !important;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
/* line 11, ../../sass/modules/_menu.scss */
.nav-item a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #3a79cc;
  transition: width .3s;
}
/* line 20, ../../sass/modules/_menu.scss */
.nav-item a:hover::after {
  width: 100%;
  transition: width .3s;
}

/* line 1, ../../sass/modules/_intro.scss */
.intro {
  padding: 200px 0;
}
/* line 4, ../../sass/modules/_intro.scss */
.intro a {
  font-size: 2.5rem;
  color: white;
}

/* line 1, ../../sass/modules/_skills.scss */
.skill {
  background: rgba(66, 66, 66, 0.5) !important;
}
