.sidebar {
  background: #3FB58E;
  color: white;
  font-family: "Open Sans";

  .sticky-left {
    position: sticky;
    -webkit-position: sticky;
    top: 0;
    left: 0;
    // left: 2em;
    // width: 16em;
  }
}